body{
	font-family: sans-serif !important; 
}
.cust-hide{
	display: none;
}
.cust-select{
	position: relative;
	z-index: 3;
	background-color:#fff;
	margin:0;
	border: 1px solid #ccc;
	border-radius:5px;
	margin-top:6px;
	width:110%;
	margin-left:-13px;   
	padding:0; 
	margin-bottom:-7px; 
}
.cust-select>li:hover{
	background-color: #3080f0;
	color:white;
	font-weight:bolder;  
}
.cust-select>li{
	list-style-type:none; 
	padding:5px 10px;   
}
.cust-cross{
	background-color:#000;
	border:5px solid #000;  
}
.btn-cust-primary:hover{
	background-color: #a00 !important;
}
.btn-cust-primary{
	background-color: #E7513B !important;
	color:#fff !important;
}
.cust-link-primary{
	color:#E7513B !important;
}
.btn-cust-outline-light{
	border: 1px solid #bbb !important;
	background-color: #fff !important;
	color:#000 !important;
}
.btn-cust-outline-light:hover{
	background-color: #eee !important;
}
.bg-cust-light{
	background-color: #F5F4F2 !important;
}
.cust-circle{
	padding:0px 10px 6px 10px;  
	border-radius: 100%;
	background-color: rgba(255,255,255,0.1);
}
.cust-circle:hover{
	background-color: rgba(255,255,255,0.2);
}
.cust-circle>i{
	font-size:0.6em; 
}
::-webkit-input-placeholder{
	font-size: 0.9em !important;
}
::-moz-placeholder {
	font-size: 0.9em !important;
}
:-ms-input-placeholder {
	font-size: 0.9em !important;
}
::placeholder {
	font-size: 0.9em !important;
}